<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--chart.js-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
       <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/data.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
    <script src="https://code.highcharts.com/mapdata/custom/world.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <!-- Flag sprites service provided by Martijn Lafeber, https://github.com/lafeber/world-flags-sprite/blob/master/LICENSE -->
    <link rel="stylesheet" type="text/css" href="//github.com/downloads/lafeber/world-flags-sprite/flags32.css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <style>
        /* Add some padding on document's body to prevent the content
        to go underneath the header and footer */
        body{
            padding-bottom: 40px;
        }
        .fixed-header, .fixed-footer{
            width: 100%;
            position: fixed;
            background: #333;
            padding: 10px 0;
            color: #fff;
        }
        .fixed-header{
            top: 0;
        }
        .fixed-footer{
            bottom: 0;
        }
        .container{
            width: 80%;
            margin: 0 auto; /* Center the DIV horizontally */
        }
        nav a{
            color: #fff;
            text-decoration: none;
            padding: 7px 25px;
            display: inline-block;
        }
    </style>
    <title>Covid Live</title>
  </head>
  <body>
  <div class="container">
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="http://www.amannvl.me/"><b><i>COVID19</i></b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="https://github.com/amannvl"><i class="fa fa-github fa-lg"></i></a>
        <a class="nav-item nav-link" href="https://twitter.com/amannvl"><i class="fa fa-twitter fa-lg"></i></a>
        <a class="nav-item nav-link" href="https://www.linkedin.com/in/amannvl/"><i class="fa fa-linkedin fa-lg"></i></a>
        <a class="nav-item nav-link" href="http://www.amannvl.me"><i class="fa fa-globe fa-lg"></i></a>
    </div>
  </div>
</nav>
  </div>

<div>
  <div class="container col-md-4 mt-5" style="align:center">
                    <h1 style="text-align:center">COVID-19 DashBoard</h1>
            </div>
</div>

    <div class="container col-md-8 mt-5">
                <br>
                <br>
                <div id="mapChart" style="height: 650px; width: 100%; min-width: 300px"></div>
   </div>

   <div class="container col-md-4 mt-5" style="max-height: 650px; overflow: scroll; overflow-x:hidden;">
      <div style="background-color: rgb(41, 41, 40);">

                    <span style="color: rgb(255, 255, 255); text-align: center;"><h2>Total Infected: {{overallCount}}</h2></span>
                </div>
                <div>
                    <form method="post" enctype="multipart/form-data" action="selectCountry">
                    {% csrf_token %}
                    <div class="col-lg-4" style="float: left;">
                        {% for con in contryNames %}
                        <table style="border-width: 2px; border: #333;">
                        <tr>
                            <input type="submit" value={{con}} name="countryName" style="width:100%;">
                        </tr>
                    </table>
                        {% endfor %}
                    </div>
                    <div style="float: left;">
                        <canvas id="myChart" style="height: 6650px; width:100%;"></canvas>
                    </div>
                    </form>


                </div>
   </div>

 <div class="container col-md-4 mt-5" style=" max-height: 650px;overflow: scroll; overflow-x:hidden;">
      <div style="background-color: rgb(41, 41, 40);">

                    <span style="color: rgb(255, 255, 255); text-align: center;"><h2>Last 6 days Counts</h2></span>
                </div>
                <div class="col-lg-12" style="width:100%; min-width:300px">
                        <div id="heatchart"></div>
                </div>

 </div>

            <!-- <div  style="float: left;  max-height: 650px;max-width:400px;overflow: scroll; overflow-x:hidden;">
                <br>
                <div id="heatchart"></div>
            </div>   -->



<!--        <div style="height: 300px;">-->
<!--            <canvas id="lineChart" style="height: 400px;"></canvas>-->
<!--        </div>-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
<script>

    var ctx = document.getElementById('myChart').getContext('2d');
    var chartOptions = {
                            legend: {
                                display: false
                                    },
                            scales: {
                                xAxes: [{
                                    barPercentage:1
                                    }],
                                yAxes: [
                                        // {barPercentage: 1},
                                        // {gridLines:{drawBorder: false}},
                                        {ticks: {display:false}},
                                        // {ticks: {mirror: true}},
                                        {display: false},

                                        ],
                            elements: {
                                rectangle: {
                                borderSkipped: 'left',
                                }
                            }
                            }
                        };
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'horizontalBar',

        // The data for our dataset
        data: {
            labels: {{ contryNames|safe }},
            datasets: [{
                data: {{ countsVal|safe }},
                label: 'Infected Counts',
                barThickness:'flex',
                backgroundColor:'#03a9fc',

            }]
        },



        // Configuration options go here
        options: chartOptions
});
</script>

<script>
    var data2={{datasetForLine|safe}};
    var chartOptions2 = {
            legend: {
                display: false
                    }
        };
    var ctx2 = document.getElementById('lineChart').getContext('2d');
	var myLineChart = new Chart(ctx2, {
    type: 'line',
    data: {labels:{{axisvalues|safe}},
            datasets:data2,},
    options: chartOptions2
});
</script>
<script>

var someDataMap=[{'code3': 'AFG', 'name': 'Afghanistan', 'value': 484, 'code': 'AF'},
 {'code3': 'ALB', 'name': 'Albania', 'value': 409, 'code': 'AL'},
 {'code3': 'DZA', 'name': 'Algeria', 'value': 1666, 'code': 'DZ'},
 {'code3': 'AND', 'name': 'Andorra', 'value': 583, 'code': 'AD'},
 {'code3': 'AGO', 'name': 'Angola', 'value': 19, 'code': 'AO'}];

 var someData2=[{
		"code3": "ABW",
		"name": "Aruba",
		"value": 582.34,
		"code": "AW"
	},
	{
		"code3": "AFG",
		"name": "Afghanistan",
		"value": 53.08,
		"code": "AF"
	},
	{
		"code3": "AGO",
		"name": "Angola",
		"value": 23.11,
		"code": "AO"
    }];
 var someData3={{dataForMapGraph|safe}};
    Highcharts.getJSON('https://cdn.jsdelivr.net/gh/highcharts/highcharts@v7.0.0/samples/data/world-population-density.json', function (data) {

// Prevent logarithmic errors in color calulcation
data.forEach(function (p) {
    p.value = (p.value < 1 ? 1 : p.value);
});

// Initiate the chart
Highcharts.mapChart('mapChart', {

    chart: {
        map: 'custom/world'
    },

    title: {
        text: 'World Map COVID-19 Infection '
    },

    legend: {
        title: {
            text: 'Infected Population',
            style: {
                color: ( // theme
                    Highcharts.defaultOptions &&
                    Highcharts.defaultOptions.legend &&
                    Highcharts.defaultOptions.legend.title &&
                    Highcharts.defaultOptions.legend.title.style &&
                    Highcharts.defaultOptions.legend.title.style.color
                ) || 'black'
            }
        }
    },

    mapNavigation: {
        enabled: true,
        buttonOptions: {
            verticalAlign: 'bottom'
        }
    },

    tooltip: {
        backgroundColor: 'none',
        borderWidth: 0,
        shadow: false,
        useHTML: true,
        padding: 0,
        pointFormat: '<span class="f32"><span class="flag {point.properties.hc-key}">' +
            '</span></span> {point.name}<br>' +'<span><h4>{point.value}</h4></span>',
        positioner: function () {
            return { x: 0, y: 250 };
        }
    },

    colorAxis: {
        min: 1,
        max: {{maxVal|safe}},
        type: 'logarithmic'
    },

    series: [{
        data: someData3,
        joinBy: ['iso-a3', 'code3'],
        name: 'Infected Counts',
        states: {
            hover: {
                color: '#a4edba'
            }
        }
    }]
});
});

</script>

<script>
var options = {
          series: {{dataForheatMap|safe}},
          chart: {
          height: 6500,
          type: 'heatmap',
        },
        dataLabels: {
          enabled: true
        },
        dataLabels: {
            position: 'top'
            },
        colors: ["#008FFB"],
        yaxis: {
      show: false},
      xaxis: {
          type: 'category',
          categories: {{dateCat|safe}}
        },

        };
var chart4 = new ApexCharts(document.querySelector("#heatchart"), options);

chart4.render();
</script>
</html>